/* REGOLE GENERALI */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

main {
  padding-top: 100px;;
}

/* FINE REGOLE GENERALI */

/* COMMONS */
img {
  width: 100%;
}

li {
  display: inline-block;
  list-style-type: none;
  padding-right: 30px;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: #5f6268;
}
h2, span  {
  color: #3c4043;
}

.wrapper {
  width: 100%;
  height: 100vh;
}
/* FINE COMMONS */

/* HEADER */
/* Navbar */
.nav-bar {
  height: 100px;
  background-color: white;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid lightgray;
  padding: 25px 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* logo */
.logo {
  display: flex;
}

.logo span {
  font-size: 20px;
  line-height: 24px;
  color: #5f6268;
  padding-left: 10px;
}

.google-logo{
  width: 74px;
}

.google-logo > img {
  vertical-align: middle;
}
/* fine logo */

/* nav menu */
.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu li:last-of-type a{
  color: #3366d6;
}

.nav-menu li {
  position: relative;
}

.nav-menu li span {
  width: 31px;
  height: 4px;
  background-color: #3366d6;
  position: absolute;
  top: 28px;
  left: 0;
}
/* fine nav menu */

/* google account */
.google-account {
  display: flex;
}

.photo-account img{
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.google-account span {
  font-size: 14px;
  padding-left: 5px;
}
/* fine google account */
/* Fine Navbar */
/* FINE HEADER */

/* MAIN */
.container {
  width: 1042px;
  margin: auto;
  padding: 40px;
}

/* Faq */
.faq {
  padding: 20px 0;
}

.faq h2 {
  padding-bottom: 20px;
}

.faq span {
  font-size: 13px;
}
/* Fine Faq */
/* FINE MAIN */

/* php */
.blue {
  color: #3366d6;
}
